* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #f0f0f0; /* Світло-сірий фон */
	background-size: cover;
	background-position: center;
}

.wrapper {
	padding-bottom: 2%;
	background: rgba(255, 255, 255, 0.1); /* Прозорий фон */
	backdrop-filter: blur(5px); /* М'якший blur */
}

.title {
	padding-top: 5svh;
	color: #5e5e5e; /* Темно-сірий текст */
	text-shadow: 1px 1px 2px #ffffff, -1px -1px 2px rgba(0, 0, 0, 0.2); /* Легкі тіні */
}

[class*="-btn"] {
	width: 20svh;
	padding: 7px;
	cursor: pointer;
	font-size: 18px;
	border: none;
	color: #333;
	border-radius: 0.1em;
	background: #e0e0e0; /* Легкий сірий фон */
	border: 1px solid #ccc; /* Світло-сірий бордер */
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Легші тіні */
	transition: transform 0.2s, background-color 0.3s;
}

[class*="-btn"]:hover {
	background-color: #d0d0d0; /* М'якший колір при наведенні */
	color: #000;
	transform: scale(1.05);
}

[class*="-btn"]:active {
	transform: scale(0.9);
}

.container-input {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.input {
	width: 60svh;
	margin-right: 1svh;
	color: #333;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.1em;
	background: #e0e0e0;
	border: 1px solid #ccc;
	transition: all 0.3s;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.input-btn {
	width: 10svh;
}

.container-list {
	width: 100%;
	display: flex;
	justify-content: center;
}

.list {
	width: 50%;
	margin-top: 10svh;
	display: flex;
	flex-direction: column;
	list-style: none;
}

.list-li {
	margin-top: 2svh;
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.li-checkbox {
	order: 1;
	height: 3svh;
	width: 3svh;
	cursor: pointer;
	appearance: none;
	background-color: #e0e0e0;
	transition: all 0.3s;
	position: relative;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.li-checkbox:checked {
	background-color: #4a90e2; /* М'який синій */
}

.li-checkbox:checked::after {
	content: '✔';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 2.5svh;
	text-align: center;
	line-height: 3svh;
}

.li-text {
	order: 2;
	font-size: 25px;
	color: #333;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.li-remove-btn {
	order: 3;
	width: auto;
	height: 30px;
	font-size: 14px;
	background: #e0e0e0;
	color: #333;	
	transition: all 0.4s;
}
.li-remove-btn:hover{
	background-color: #d1d1d1; /* Легкий сірий при наведенні */
}

.tabs-buttons {
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	gap: 1.5svh;
}

.tab-all-btn,
.tab-current-btn,
.tab-completed-btn {
	transition: all 0.4s;
}
