* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url('../img/image2.jpg');
	background-size: cover;
	background-position: center;
}

.wrapper {
	padding-bottom: 2%;
   background: rgba(255, 255, 255, 0.05);
   backdrop-filter: blur(2px);
}

.title {
	padding-top: 5svh;
	color: #e8e8e8;
	text-shadow: 6px 6px 12px #000000, -6px -6px 12px #556b68;
}

[class*="-btn"] {
	width: 20svh;
	padding: 7px;
	cursor: pointer;
	font-size: 18px;
	border: none;
	color: #090909c2;
	border-radius: 0.1em;
	background: #e8e8e8;
	border: 1px solid #1f1d1d;
	box-shadow: 6px 6px 12px #000000, -6px -6px 12px #556b68;
	transition: transform 0.2s, background-color 0.3s;
}

[class*="-btn"]:hover {
	background-color: #090909c2;
	color:#e8e8e8;
	transform: scale(1.05);
}

[class*="-btn"]:active {
	transform: scale(0.9);
}

.container-input {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.input {
	width: 60svh;
	margin-right: 1svh;
	color: #090909;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.1em;
	background: #e8e8e8;
	border: 1px solid #000000;
	transition: all 0.3s;
	box-shadow: 6px 6px 12px #000000, -6px -6px 12px #556b68;
}

.input-btn {
	width: 10svh;
}

.container-list {
	width: 100%;
	display: flex;
	justify-content: center;
}

.list {
	width: 50%;
	margin-top: 10svh;
	display: flex;
	flex-direction: column;
	list-style: none;
}

.list-li {
	margin-top: 2svh;
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.li-checkbox {
	order: 1;
	height: 3svh;
	width: 3svh;
	cursor: pointer;
	appearance: none;
	background-color: #e8e8e8;
	transition: all 0.3s;
	position: relative;
	box-shadow: 6px 6px 12px #000000, -6px -6px 12px #556b68;
}

.li-checkbox:checked {
	background-color: #090909c2;
}

.li-checkbox:checked::after {
	content: '✔';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #e8e8e8;
	font-size: 2.5svh;
	text-align: center;
	line-height: 3svh;
}

.li-text {
	order: 2;
	font-size: 25px;
	color: #e8e8e8;
	text-shadow: 6px 6px 12px #000000, -6px -6px 12px #556b68;
}

.li-remove-btn {
	order: 3;
	width: auto;
	height: 30px;
	font-size: 14px;
	background: #090909c2;
	color: #e8e8e8;
	transition: all 0.4s;
}
.li-remove-btn:hover{
	background-color: rgb(83, 17, 17);
}

.tabs-buttons {
	margin-top: 5vh;
	display: flex;
	justify-content: center;
	gap: 1.5svh;
}

.tab-all-btn,
.tab-current-btn,
.tab-completed-btn {
	transition: all 0.4s;
}
